---
import SearchComponent from "../components/AstroSearch.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <SearchComponent id="search" className="pagefind-ui" uiOptions={{ showImages: true }} />
    </main>
    <Footer />
  </body>
</html>

