@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  font-size: 18px;
  line-height: 1.667em;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(39, 38, 38);
  }
}

.prose .anchor {
  @apply absolute invisible;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose h2 {
  @apply text-stone-300
}
.anchor:hover {
  @apply visible no-underline;
}
.prose .anchor:after {
  @apply text-gray-300 dark:text-yellow-300;
  content: "#";
}

.prose p {
  @apply text-stone-300
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}
